.contenedor-header{
    background-color: #4D5C93;
    min-height: 200px;
}

li{
    list-style: none;
  
}

.a-header{
    text-decoration: none ;
    color:#FFFFFF;
}

.items{
    color:#FFFFFF;
    
}

.a-header-home{
    color: #FFFFFF;
    text-decoration:underline;
    
}

.logo-header{
    width: 100%;
}

@media (max-width: 991.9px){
    .navegador{
       background-color: #FFFFFF;
    }
}