//The styles is created with the library, source components and his hereditary classes
li{
    list-style: none;
  
}
footer{
    background-color: #4D5C93;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .secciones-footer{
        display: flex;
        flex-direction: column;
        padding-left: 20px;


        a{
            text-decoration: none;
            color: #FFFFFF;
        }
    }
    .copy-right{
        color:#FFFFFF;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-footer{
            width: 80px;
        }
    }
    .icon-footer{
        display: flex;

        .icon-list{
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 20px;
            padding: 20px;

            i{
                font-size: 30px;
            }
        }
    }
}

i{
    color: #FFFFFF;
}

@media (min-width: 700px){
    footer{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}