//Import the variable of styles
@import "/src/scss/style.scss";

// Styles of log-out
.log-out{
    width: 150px;
    height: 35px;
    background-color: $dark-blue;
    color: $white;
    border-radius: 10px;
    border: none;
}