@import "bootstrap/scss/bootstrap";
@import url(/app/components/Footer/footer.scss);
@import url(/app/components/WorkerDetailView/WorkerDetailView.scss);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$dark-blue: #4D5C93;
$light-blue: #7488C3;
$gray: #B8B7D1;
$yellow: #FFCB5C;
$red: #FF6E61;
$white: #FFFFFF;
$black: #000000;
$gray-form: #828282
