@import "bootstrap/scss/bootstrap";
@import url(/app/components/Footer/footer.scss);
@import url(/app/components/WorkerDetailView/WorkerDetailView.scss);
@import url(/app/components/AboutUs/AboutUs.scss);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}

$dark-blue: #4D5C93;
$light-blue: #7488C3;
$gray: #B8B7D1;
$yellow: #FFCB5C;
$red: #FF6E61;
$white: #FFFFFF;
$black: #000000;
$gray-form: #828282
